.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
}

.paragraph{
    text-align: center;
    font-size: 1.2rem;
}

.img_container{
    margin: 1rem;

}

.emoji_container{
    display: flex;
    gap: 1rem;
}

.second_paragraph{
    text-align: center;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .paragraph{
       font-size: 1rem;
    }

    .second_paragraph{
        font-size: 1rem;
    }
  }
